@model JonathanPedregon.Models.ContactViewModel

@{
    ViewBag.Title = "Contact Information";
}

<h2 class="text-center">Contact</h2>

<p class="text-center">@Model.Name</p>
<p class="text-center">@Model.EmailAddress</p>
<p class="text-center">@Model.PhoneNumber</p>
<p class="text-center">@Model.Location</p>


