@{
    ViewBag.Title = "Jonathan Pedregon";
}

@Styles.Render("~/Content/Site.css")

<body>
    <div class="jumbotron titleContainer">
        <h1>Jonathan Pedregon</h1>
        <p class="lead">Full stack developer utilizing JQuery, Bootstrap, Javascript and ASP.NET</p>
    </div>

    <div class="row">
        <div class="col-md-4">
            <a href="testUrl" class="pageLinks">Resume</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4" >
            <a href="https://github.com/jonathanpedregon" class="pageLinks">Github</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <a href="https://www.linkedin.com/in/jonathanpedregon/" class="pageLinks">LinkedIn</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <a href="testUrl" class="pageLinks">Sites</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <a href="testUrl" class="pageLinks">Contact</a>
        </div>
    </div>
</body>