@{
    ViewBag.Title = "Jonathan Pedregon";
}

@Styles.Render("~/Content/Site.css")

<body>
    <div class="jumbotron titleContainer">
        <h1>Jonathan Pedregon</h1>
        <p class="lead">Full stack developer utilizing JQuery, Bootstrap, Javascript and ASP.NET</p>
    </div>

    <div class="row">
        <div class="col-lg-12">
            @Html.ActionLink("Resume", "Resume", "Home", new { @class = "pageLinks" })
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <a href="https://github.com/jonathanpedregon" class="pageLinks">Github</a>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <a href="https://www.linkedin.com/in/jonathanpedregon/" class="pageLinks">LinkedIn</a>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            @Html.ActionLink("Sites", "Sites", "Home", new { @class = "pageLinks" })
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            @Html.ActionLink("Contact", "Contact", "Home", new { @class = "pageLinks" })
        </div>
    </div>
</body>