
@{
    ViewBag.Title = "Resume";
}

@Styles.Render("~/Content/Resume.css")

<body>
    <div class="row titleContainer">
        <div class="col-md-4 col-md-offset-4 title">
            <p>Resume</p>
        </div>
        <div class="col-md-4" id="DownloadLinkContainer">
            <a href="~/Files/JonathanPedregonResume.pdf" download="JonathanPedregonResume">Download Resume</a>
        </div>
    </div>

    <div>
        <p class="name ">Jonathan Pedregon</p>
        <p style="padding-bottom: 3ex; "></p>
        <hr />
        <p class="sectionHeader"><strong>Experience</strong></p>
        <p><strong>Reynolds &amp; Reynolds (IDS),</strong> Draper, UT - Software Developer</p>
        <p>August 2017 - Present</p>
        <ul>
            <li>Full stack developer in ASP .NET</li>
            <ul>
                <li>Created stored procedures</li>
                <li>Generated models and controllers in C#</li>
                <li>Wrote scripts in Javascript supplemented with JQuery</li>
                <li>Formatted web pages in HTML and CSS</li>
            </ul>
        </ul>
        <p><strong>MetaSource</strong>, Draper, UT &mdash; <em>Business Analyst</em></p>
        <p>May 2015 - August 2017</p>
        <ul>
            <li>Wrote mortgage applications in C#.</li>
            <ul>
                <li>One parsed loan numbers from filenames in a portfolio transfer to create a manifest of loans. Another created PDFs of specified page length and removed metadata and bookmarks prior to the redaction of sensitive data.</li>
            </ul>
            <li>Supported non-technical teams with SQL queries.</li>
            <ul>
                <li>These queries provided insight into database design enhancements for a retail client&rsquo;s database we hosted containing 30 million customers and 40 million loyalty cards.</li>
            </ul>
            <li>Designed an online portfolio transfer portal</li>
            <ul>
                <li>This portal allows our customers to submit portfolio transfers online ensuring the documents are in the correct format prior to programmatically doc typing and extracting loan data from the filename for export to our cloud based repository. The added convenience alleviated a pain point for our client as portfolio acquisitions is a major source of income for them. The portal processes 300,000 loans per month.</li>
            </ul>
            <li>Heavily involved in integration and user acceptance testing. </li>
        </ul>
        <p><strong>MetaSource</strong>, Draper, UT &mdash; <em>Account Manager</em></p>
        <p>July 2013 - May 2015</p>
        <ul>
            <li>Responsible for department-wide process improvement by gathering metrics and creating action plans. </li>
            <ul>
                <li>Reduced unallocated costs from 23% ($115,000) to &lt;1% (&lt;$5,000) through more granular tracking processes.</li>
            </ul>
        </ul>
        <hr />
        <p class="sectionHeader"><strong>Skills</strong></p>
        <ul>
            <li>Object Oriented Programming</li>
            <li>Database Queries and Design</li>
            <li>Requirement Gathering</li>
            <li>Git and SVN</li>
            <li>Process Improvement</li>
            <li>Unit, Integration and User Acceptance Testing</li>
            <li>Interpersonal Communication</li>
        </ul>
        <hr />
        <p class="sectionHeader"><strong>Languages &amp; Technologies</strong></p>
        <ul>
            <li>C#</li>
            <li>ASP.NET MVC</li>
            <li>Javascript</li>
            <li>JQuery</li>
            <li>Bootstrap</li>
            <li>SQL</li>
            <li>HTML</li>
            <li>CSS</li>
            <li>Java</li>
        </ul>
        <hr />
        <p class="sectionHeader"><strong>Education</strong></p>
        <p><strong>Weber State University </strong>&mdash; <em>Computer Science</em></p>
        <p>June 2017 - August 2018</p>
        <p>Transferred to complete Computer Science degree.</p>
    </div>
</body>