body {
    padding-left: 14em;
    padding-right: 14em;
}

.title {
    text-align: center;
    color: #004225;
    font-size: 24px;
}

.name {
    color: #004225;
    font-size: 20px;
    position: absolute;
    text-align: center;
}

.titleContainer {
    padding-top: 1em;
    vertical-align: middle;
}

.nameContainer {
    text-align: center;
}

.sectionHeader {
    color: #004225;
    font-size: 18px;
}

p ul li {
    font-size: 16px;
}

hr {
    border-color: #004225;
}

#DownloadLinkContainer {
    text-align: right;
    padding-top: .5em;
}
